<footer class="bg-[url('assets/image/footer.png')] bg-cover bg-center bg-no-repeat  min-h-[500px] relative">
    <div class="container mx-auto px-3 pt-12 before:content-[''] before:absolute before:w-0 before:left-0 before:right-0 before:bg-gray-800 before:top-[155px] before:h-0 lg:before:h-[2px] lg:before:w-full
        
    after:content-[''] after:absolute after:w-0 after:left-0 after:right-0 after:bg-gray-800 after:top-[475px] after:h-0 lg:after:h-[2px] lg:after:w-full
        ">
        <div class="flex justify-between flex-col items-center gap-6 lg:gap-0 lg:items-start lg:flex-row">
            <div class="w-1/4">
                <a href=""> <img src="https://jthemes.net/themes/html/organic/assets/images/logo/logo2.png" alt=""></a>
            </div>
            <div class="w-[82%] lg:w-[70%] relative">
                <input type="text" placeholder="Your Phone Number"
                    class="text-gray-400 p-5 border-0 outline-0 cursor-pointer bg-gray-700 w-9/12 rounded-full">
                <div class="absolute top-0 left-[47%] lg:left-[58%]">
                    <a href="">
                        <button type="button"
                            class="text-white py-5 px-4 lg:px-8  bg-green-600 rounded-full tracking-widest ">Subscribe
                            Now <i class="fas fa-long-arrow-alt-right"></i></button>
                    </a>
                </div>
            </div>
            <div class="w-1/2 sm:w-1/4">
                <ul class="flex justify-end text-sm  font-normal leading-[48px]">
                    <li class="mr-4"><a href="/"
                            class="inline-block w-12 h-12  text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="mr-4"><a href="/"
                            class="inline-block w-12 h-12   text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="mr-4"><a href="/"
                            class="inline-block w-12 h-12   text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-youtube"></i></a></li>
                    <li><a href="/"
                            class="inline-block w-12 h-12 text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-3 flex pt-20">
        <div class="w-1/4">
            <div
                class="relative lg:after:content-[''] after:absolute lg:after:w-[1px] lg:after:h-80 after:-top-9 after:right-0 after:bg-gray-800 after:w-0 after:h-0">
                <h4 class="font-black text-2xl">
                    <a href="#" class="text-white font-bold text-xl underline">Why People Like us</a>
                </h4>
                <p class="text-gray-400 text-base font-normal leading-7 pt-4">Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris
                    nisi ut
                    aliquip
                    ex ea
                    commodo. Build your online store with WooCommerce the most popular </p>
                <div class="pt-4">
                    <a href="">
                        <button type="button"
                            class="text-white py-[10px] px-6 bg-green-600 rounded-full tracking-widest ">View More <i
                                class="fas fa-long-arrow-alt-right"></i></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-1/4">
            <div
                class="relative pl-14 after:content-[''] after:absolute lg:after:w-[1px] lg:after:h-80 after:-top-9 after:right-0 after:bg-gray-800 after:w-0 after:h-0">
                <h4 class="font-black text-2xl">
                    <a href="#" class="text-white font-bold text-xl underline">Information</a>
                </h4>
                <ul class="text-gray-400 text-base font-normal leading-7 pt-4">
                    <li><a href="" class="hover:text-gray-600">About Us</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Delivery Information</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Privacy Policy</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Terms & Conditions</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Return Policy</a></li>
                </ul>

            </div>
        </div>
        <div class="w-1/4">
            <div
                class="relative pl-14 after:content-[''] after:absolute lg:after:w-[1px] lg:after:h-80 after:-top-9 after:right-0 after:bg-gray-800 after:w-0 after:h-0">
                <h4 class="font-black text-2xl">
                    <a href="#" class="text-white font-bold text-xl underline">My Account</a>
                </h4>
                <ul class="text-gray-400 text-base font-normal leading-7 pt-4">
                    <li><a href="" class="hover:text-gray-600">My Account</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Shopping Cart</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Wishlist</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">Order History</a></li>
                    <li class="pt-2"><a href="" class="hover:text-gray-600">International Orders</a></li>
                </ul>

            </div>
        </div>
        <div class="w-1/4">
            <div class="pl-7 text-gray-400">
                <h4 class="font-black text-2xl">
                    <a href="#" class="text-white font-bold text-xl underline">Contact Us</a>
                </h4>
                <p class="text-sm pt-4"><span class="text-white">Address:</span> 1429 Netus Rd, NY 48247
                </p>
                <p class="text-sm pt-4">
                    <span class="text-white">Email:</span> Organi@gmail.com
                </p>
                <p class="text-sm pt-4">
                    <span class="text-white">Phone:</span> (+87) 4886-4174
                </p>
                <p class="text-sm text-white pt-4">Payment Accepted</p>
                <div class="pt-4">
                    <a href="">
                        <img src="https://jthemes.net/themes/html/organic/assets/images/payment/payment.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>