<footer class="bg-[url('assets/image/footer.png')] bg-cover bg-center bg-no-repeat  min-h-[500px] relative">
    <div
        class="container mx-auto px-3 pt-12 before:content-[''] before:absolute before:w-full before:h-[2px]  before:left-0 before:right-0 before:bg-gray-800 before:top-[155px]">
        <div class="flex justify-between">
            <div class="w-1/4">
                <a href=""> <img src="https://jthemes.net/themes/html/organic/assets/images/logo/logo2.png" alt=""></a>
            </div>
            <div class="w-1/2 relative">
                <input type="text" placeholder="Your Phone Number"
                    class="text-gray-400 p-5 border-0 outline-0 cursor-pointer bg-gray-700 w-9/12 rounded-full">
                <div class="absolute top-0 left-[58%]">
                    <a href="">
                        <button type="button"
                            class="text-white py-5 px-8 bg-green-600 rounded-full tracking-widest ">Subscribe
                            Now <i class="fas fa-long-arrow-alt-right"></i></button>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <ul class="flex justify-end">
                    <li class="mr-4"><a href="#"
                            class="inline-block w-12 h-12 text-black text-sm font-normal leading-[48px] text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="mr-4"><a href="#"
                            class="inline-block w-12 h-12 text-black text-sm font-normal leading-[48px] text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="mr-4"><a href="#"
                            class="inline-block w-12 h-12 text-black text-sm font-normal leading-[48px] text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-youtube"></i></a></li>
                    <li><a href="#"
                            class="inline-block w-12 h-12 text-black text-sm font-normal leading-[48px] text-center bg-white rounded-full border border-solid border-transparent"><i
                                class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-3 flex pt-20">
        <div class="w-1/4">
            <div class="relative ">
                <h4 class="font-black text-2xl">
                    <a href="#" class="text-white font-bold text-xl underline">Why People Like us</a>
                </h4>
                <p class="text-gray-400 text-base font-normal leading-7 pt-4">Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris
                    nisi ut
                    aliquip
                    ex ea
                    commodo. Build your online store with WooCommerce the most popular </p>
                <div class="pt-4">
                    <a href="">
                        <button type="button"
                            class="text-white py-[10px] px-6 bg-green-600 rounded-full tracking-widest ">View More <i
                                class="fas fa-long-arrow-alt-right"></i></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-1/4">
            <div>
                2
            </div>
        </div>
        <div class="w-1/4">
            <div>
                3
            </div>
        </div>
        <div class="w-1/4">
            <div>

            </div>
        </div>
    </div>
</footer>