<header class="">
    <div class="bg-black hidden sm:block ">
        <div class="container mx-auto h-10 flex justify-between leading-10 px-3">
            <div class="flex">
                <div class="flex pr-8">
                    <p class="font-normal">
                        <i class="far fa-envelope text-white mr-2"></i>
                    </p>
                    <p class="text-white text-sm font-medium leading-10">
                        info@webmail.com</p>
                </div>
                <div class="flex">
                    <p><i class="fas fa-map-marker-alt text-white mr-2"></i></p>
                    <p class="text-white text-sm font-medium leading-10">15/A, Nest Tower,NYC</p>
                </div>
            </div>
            <div>
                <ul class="flex">
                    <li><a><i class="fab fa-facebook-f text-white pr-4"></i></a></li>
                    <li><a><i class="fab fa-twitter text-white pr-4"></i></a></li>
                    <li><a><i class="fab fa-instagram text-white pr-4"></i></a></li>
                    <li><a><i class="fab fa-linkedin-in text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mx-auto flex justify-between py-2 px-3 pt-3.5">
        <div>
            <a href="">
                <img src="https://jthemes.net/themes/html/organic/assets/images/logo/logo.png" alt="">
            </a>
        </div>
        <div>
            <ul class="flex">
                <li class="py-4 px-2 pr-6 relative">
                    <div class="group">
                        <span
                            class="text-base font-medium text-green-600 group-hover:after:content-[''] ] group-hover:after:w-[370px] group-hover:after:h-8 
                            group-hover:after:bg-white group-hover:after:absolute group-hover:after:top-8 group-hover:after:-left-36 group-hover:after:mt-1">
                            <a href="">Home</a></span>
                        <div class="absolute bg-red-200 w-72 bg-[url('assets/image/mega3.png')] pt-16 pl-20 min-w-[370px] min-h-[425px] border  border-solid  border-gray-300
                        bg-no-repeat bg-cover bg-center rounded-b-3xl top-16 -left-36 hidden group-hover:block
                        ">
                            <h4
                                class="text-xl font-bold mb-8 after:content-[''] after:top-[6.5rem] after:left-[4.5rem] after:w-[234px] after:h-0.5 after:absolute after:bg-gray-300">
                                All Home Pages</h4>
                            <ul class="list-disc">
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Home
                                        V.1</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Home
                                        V.2</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Home
                                        V.3</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Home
                                        V.4</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Home
                                        V.5</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Home
                                        V.6</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="py-4 px-2 pr-6 relative">
                    <div class="group">
                        <span
                            class="text-base font-medium  hover:text-green-600 group-hover:after:content-[''] ] group-hover:after:w-[370px] group-hover:after:h-8 
                    group-hover:after:bg-white group-hover:after:absolute group-hover:after:top-8 group-hover:after:-left-36 group-hover:after:mt-1"><a
                                href="">Shop</a></span>
                        <div class="absolute bg-red-200 w-72 bg-[url('assets/image/mega3.png')] pt-16 pl-20 min-w-[370px] min-h-[425px] border  border-solid  border-gray-300
                    bg-no-repeat bg-cover bg-center rounded-b-3xl top-16 -left-36 hidden group-hover:block
                    ">
                            <h4
                                class="text-xl font-bold mb-8 after:content-[''] after:top-[6.5rem] after:left-[4.5rem] after:w-[234px] after:h-0.5 after:absolute after:bg-gray-300">
                                All Shop Pages</h4>
                            <ul class="list-disc">
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Shop
                                        Sidebar
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Shop List
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Shop List
                                        3</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Shop List
                                        4</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Shop List
                                        5</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Shop List
                                        6</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="py-4 px-2 pr-6 relative">
                    <div class="group">
                        <span
                            class="text-base font-medium  hover:text-green-600 group-hover:after:content-[''] ] group-hover:after:w-[370px] group-hover:after:h-8 
                    group-hover:after:bg-white group-hover:after:absolute group-hover:after:top-8 group-hover:after:-left-36 group-hover:after:mt-1"><a
                                href="">Blog</a></span>
                        <div class="absolute bg-red-200 w-72 bg-[url('assets/image/mega3.png')] pt-16 pl-20 min-w-[370px] min-h-[425px] border  border-solid  border-gray-300
                    bg-no-repeat bg-cover bg-center rounded-b-3xl top-16 -left-36 hidden group-hover:block
                    ">
                            <h4
                                class="text-xl font-bold mb-8 after:content-[''] after:top-[6.5rem] after:left-[4.5rem] after:w-[234px] after:h-0.5 after:absolute after:bg-gray-300">
                                All Blog Pages</h4>
                            <ul class="list-disc">
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Blog Details
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Blog Grid
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Blog List 1
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Blog List 2
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Blog List 3</a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Blog List 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="py-4 px-2 pr-6">
                    <span class="text-base font-medium hover:text-green-600"><a href="">Portfolio</a></span>
                </li>
                <li class="py-4 px-2 pr-6">
                    <span class="text-base font-medium  hover:text-green-600"><a href="">Pages</a></span>
                </li>
                <li class="py-4 px-2 relative">
                    <div class="group">
                        <span
                            class="text-base font-medium  hover:text-green-600 group-hover:after:content-[''] ] group-hover:after:w-[370px] group-hover:after:h-8 
                    group-hover:after:bg-white group-hover:after:absolute group-hover:after:top-8 group-hover:after:-left-36 group-hover:after:mt-1"><a
                                href="">Contacts</a></span>
                        <div class="absolute bg-red-200 w-72 bg-[url('assets/image/mega3.png')] pt-16 pl-20 min-w-[370px] min-h-[425px] border  border-solid  border-gray-300
                    bg-no-repeat bg-cover bg-center rounded-b-3xl top-16 -left-36 hidden group-hover:block
                    ">
                            <h4
                                class="text-xl font-bold mb-8 after:content-[''] after:top-[6.5rem] after:left-[4.5rem] after:w-[234px] after:h-0.5 after:absolute after:bg-gray-300">
                                All Contact Pages</h4>
                            <ul class="list-disc">
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Contact Us
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Contact Us-2
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Contact Us-3
                                    </a>
                                </li>
                                <li class="my-3 text-lg ml-5"><a href=""
                                        class="font-semibold text-gray-500 hover:text-gray-700">Contact Us-4
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mr-2">
            <ul class="flex">
                <li class="mr-4"><i
                        class="search_icon fas fa-search w-12 h-12 leading-[48px] text-center text-green-500 border border-solid border-green-600 rounded-full"></i>
                </li>
                <li class="mr-2"><i
                        class="far fa-user w-12 h-12 leading-[48px] text-center rounded-full bg-gray-200 "></i>
                </li>
                <li class="mr-2"><i
                        class="far fa-heart w-12 h-12 leading-[48px] text-center rounded-full bg-gray-200"></i>
                </li>
                <li class="relative"><i
                        class="fas fa-shopping-bag w-12 h-12 leading-[48px] text-center rounded-full bg-green-600 text-white "></i>
                    <span
                        class="absolute bg-black py-2 px-[10px] text-white rounded-full font-bold text-xs text-center w-7 h-7 leading-3 -right-4 -top-[11px]">2</span>
                </li>
            </ul>
        </div>
    </div>
</header>