<!-- <p style="height: 1000px;"
    class="bg-black xs:bg-red-600 sm:bg-yellow-400 md:bg-green-600 lg:bg-blue-700 xl:bg-pink-500">home works123!</p>
     -->
<section class="bg-[url('assets/image/banner1.png')] bg-no-repeat bg-cover bg-center relative">
    <div class="">
        <div class="container mx-auto py-72 flex flex-col items-center relative">
            <h3 class="relative">
                <h6 class="absolute text-lg text-white top-1/4 right-1/4">
                    100% ORGANIC FOODS
                </h6>
                <img src="https://jthemes.net/themes/html/organic/assets/images/shapes/shape2.png" alt="">
            </h3>
            <div class="w-7/12">
                <h1 class="text-6xl text-center leading-tight font-bold">
                    Organic <span class="font-thin">Veggies & Foods</span> You Cook <span
                        class="text-green-600">Healthy</span>
                </h1>
            </div>
            <div class="w-1/2 lg:w-1/2 relative mt-10">
                <input type="text" placeholder="Search Product"
                    class="p-4 border-0 outline-0 bg-white w-9/12 rounded-full placeholder:italic placeholder:text-sm pl-11 shadow-xl">
                <div class="absolute top-0 left-[47%] lg:left-[58%]">
                    <button type="button"
                        class="text-white py-4 pr-2 pl-2 lg:pl-4 lg:pr-9 bg-green-600 rounded-full tracking-widest relative">Select
                        a
                        Categories<i class="fa-solid fa-chevron-down absolute top-5 right-2"></i></button>
                </div>
            </div>

        </div>
        <img src="https://jthemes.net/themes/html/organic/assets/images/banner/banner4.png" alt=""
            class="absolute -bottom-12 left-0 w-[550px]">
        <img src="https://jthemes.net/themes/html/organic/assets/images/banner/banner3.png" alt=""
            class="absolute top-12 right-7 w-[550px]">
    </div>
</section>